.navbar {
    border: 3px solid blue;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    display: inline;
    margin-right: 10px;
}

.navbar__link {
    text-decoration: none;
    color: blue;
}

.navbar__link:hover {
    text-decoration: underline;
    color: darkblue;
}

.navbar__link--active {
    font-weight: bold;
    color: darkblue;
}
