.navbar {
    /* border: 3px solid blue; */
    background: #222;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    display: inline;
    margin-right: 10px;
}

.navbar__a {
    text-decoration: none;
    color: lightblue;
    display: inline-block;
    padding: .3em;
}

.navbar__a:hover {
    text-decoration: underline;
    color: darkblue;
}

.navbar__a--active {
    font-weight: bold;
    color: yellow;
}

.navbar__logo {
    display: inline-block;
    margin-right: 20px;
}
